[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
[submodule "External/implot"]
	path = External/implot
	url = https://github.com/epezent/implot
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/AlexvZyl/imgui
[submodule "External/earcut"]
	path = External/earcut
	url = https://github.com/Cullen-Enerdyne/earcut.hpp
[submodule "External/Clipper"]
	path = External/Clipper
	url = https://github.com/Cullen-Enerdyne/Clipper
[submodule "External/CavalierContours"]
	path = External/CavalierContours
	url = https://github.com/Cullen-Enerdyne/CavalierContours
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = https://github.com/AlexvZyl/ImGuizmo
