/*=======================================================================================================================================*/
/* Includes.                                                                                                                             */
/*=======================================================================================================================================*/

#include "resource.h"

/*=======================================================================================================================================*/
/* Resources.                                                                                                                            */
/*=======================================================================================================================================*/

//-------------------------------------------------------------------------------------------------
// Resource ID					Resource Type				Resource Path
//-------------------------------------------------------------------------------------------------
// Shaders.
BASIC_SHADER					TEXTFILE					"Shaders\\basicShader.txt"
STATIC_SHADER					TEXTFILE					"Shaders\\staticShader.txt"
TEXTURE_SHADER					TEXTFILE					"Shaders\\textureShader.txt"
//-------------------------------------------------------------------------------------------------
// ImGui images.
COMPONENT_PNG					PNG							"Icons\\component.png"
DRAW_CIRCUIT_BUCKETS PNG		PNG							"Icons\\Draw_Circuit_Buckets.png"
DRAW_MCC_PNG					PNG							"Icons\\Draw_MCC.png"
//-------------------------------------------------------------------------------------------------
// OpenGL Textures.
CIRCUIT_TREE_PNG				PNG							"Textures\\circuitTree.png"
//-------------------------------------------------------------------------------------------------
// OpenGL Fonts. 
ARIAL_SDF_FNT					TEXTFILE					"Fonts\\Arial_SDF.txt"
ARIAL_SDF_PNG					PNG							"Fonts\\Arial_SDF.png"
//-------------------------------------------------------------------------------------------------

/*=======================================================================================================================================*/
/* EOF.                                                                                                                                  */
/*=======================================================================================================================================*/